 .u-section-1 {
  background-image: none;
  min-height: 525px;
}

.u-section-1 .u-image-1 {
  height: 523px;
  margin-top: 1px;
  margin-bottom: 0;
  object-position: 100% 100%;
}

.u-section-1 .u-text-1 {
  font-size: 4.375rem;
  font-weight: 700;
  box-shadow: 0px 0px 0 0 rgba(0,0,0,0);
  margin: -416px auto 0 calc(((100% - 1140px) / 2) + 125px);
}

.u-section-1 .u-btn-1 {
  letter-spacing: 2px;
  text-transform: uppercase;
  font-size: 1rem;
  background-image: none;
  border-style: solid;
  font-weight: 700;
  align-self: center;
  margin: 107px auto 60px;
  padding: 13px 59px 15px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-text-1 {
    width: auto;
    margin-left: 74px;
    margin-right: 74px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-image-1 {
    height: 541px;
    object-position: 51.38% 50%;
  }

  .u-section-1 .u-text-1 {
    margin-left: 69px;
    margin-right: 69px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-image-1 {
    height: 558px;
  }

  .u-section-1 .u-text-1 {
    font-size: 3.75rem;
    margin-left: 61px;
    margin-right: 61px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-image-1 {
    height: 502px;
  }

  .u-section-1 .u-text-1 {
    width: 318px;
    margin-left: calc(((100% - 340px) / 2));
    margin-right: auto;
    font-size: 3rem;
  }
} .u-section-2 {
  background-image: url("images/ghhggh-min.jpg");
  background-position: 50% 50%;
}

.u-section-2 .u-sheet-1 {
  min-height: 669px;
}

.u-section-2 .u-layout-wrap-1 {
  margin-top: 60px;
  margin-bottom: 60px;
}

.u-section-2 .u-layout-cell-1 {
  min-height: 549px;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px;
}

.u-section-2 .u-text-1 {
  font-weight: 400;
  font-size: 3rem;
  letter-spacing: 1px;
  margin: 16px 120px 0 0;
}

.u-section-2 .u-text-2 {
  font-weight: 400;
  font-size: 1.125rem;
  margin: 32px 0 0;
}

.u-section-2 .u-layout-cell-2 {
  min-height: 549px;
}

.u-section-2 .u-container-layout-2 {
  padding: 30px;
}

.u-section-2 .u-image-1 {
  height: 330px;
  width: 330px;
  background-image: url("images/505579e662e471ac6af1e0d8211f9868abfe4f6b0f842baddfd584e171b0613a3f3b571e841102127ba003adbb042725ef2665ff2affc681bb3b1d_1280.jpg");
  background-position: 50% 50%;
  margin: 59px auto 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 556px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 453px;
  }

  .u-section-2 .u-text-1 {
    margin-right: 20px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 453px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 454px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-2 .u-text-1 {
    margin-right: 0;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 347px;
  }

  .u-section-2 .u-image-1 {
    height: 300px;
    width: 300px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 721px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-top: 0;
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 521px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 669px;
  }

  .u-section-2 .u-text-1 {
    font-size: 1.5rem;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 328px;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 553px;
}

.u-section-3 .u-text-1 {
  font-size: 6rem;
  margin: 10px auto 0;
}

.u-section-3 .u-icon-1 {
  color: rgb(0, 0, 0) !important;
}

.u-section-3 .u-list-1 {
  grid-template-rows: auto;
  grid-auto-rows: 100%;
  margin-top: -13px;
  margin-bottom: 0;
}

.u-section-3 .u-repeater-1 {
  grid-template-columns: calc(25% - 15px) calc(25% - 15px) calc(25% - 15px) calc(25% - 15px);
  min-height: 194px;
  grid-gap: 20px 20px;
}

.u-section-3 .u-container-layout-1 {
  padding: 30px;
}

.u-section-3 .u-icon-2 {
  height: 85px;
  width: 85px;
  background-image: none;
  color: rgb(17, 17, 17) !important;
  margin: 0 auto;
}

.u-section-3 .u-btn-1 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 1.125rem;
  letter-spacing: 1px;
  margin: 30px auto 0;
  padding: 10px 43px 10px 41px;
}

.u-section-3 .u-container-layout-2 {
  padding: 30px;
}

.u-section-3 .u-icon-3 {
  height: 85px;
  width: 85px;
  background-image: none;
  color: rgb(17, 17, 17) !important;
  margin: 0 auto;
}

.u-section-3 .u-btn-2 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 1.125rem;
  letter-spacing: 1px;
  margin: 30px auto 0;
  padding: 10px 43px 10px 41px;
}

.u-section-3 .u-container-layout-3 {
  padding: 30px;
}

.u-section-3 .u-icon-4 {
  height: 85px;
  width: 85px;
  background-image: none;
  color: rgb(17, 17, 17) !important;
  margin: 0 auto;
}

.u-section-3 .u-btn-3 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 1.125rem;
  letter-spacing: 1px;
  margin: 30px auto 0;
  padding: 10px 43px 10px 41px;
}

.u-section-3 .u-container-layout-4 {
  padding: 30px;
}

.u-section-3 .u-icon-5 {
  height: 85px;
  width: 85px;
  background-image: none;
  color: rgb(247, 8, 72) !important;
  margin: 0 auto;
}

.u-section-3 .u-btn-4 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 1.125rem;
  letter-spacing: 1px;
  margin: 30px auto 0;
  padding: 10px 43px 10px 41px;
}

.u-section-3 .u-btn-5 {
  background-image: linear-gradient(#f5d654, #f9507e);
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 1.5rem;
  letter-spacing: 0px;
  margin: 51px 478px 50px auto;
  padding: 4px 28px 6px 27px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-repeater-1 {
    grid-template-columns: repeat(4, calc(25% - 15px));
    min-height: 160px;
  }

  .u-section-3 .u-btn-5 {
    margin-right: 278px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-repeater-1 {
    grid-template-columns: repeat(2, calc(50% - 10px));
    min-height: 490px;
  }

  .u-section-3 .u-btn-5 {
    margin-right: 58px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-btn-5 {
    margin-right: 0;
  }
}